{include="html-header"}
<body>
	<header>
		<span>Login</span>
	</header>

	<section class="section-medium">
		{errorbox}
			<p class="errorbox-integrated">{errormsg}</p>
		{/errorbox}
		<p class="section-title">Please login to continue</p>
		<form class="centered" action="index.php?login" method="POST">
			<label class="form-separator" for="form-username">Username</label>
			<input type="text" name="username" id="form-username" placeholder="Enter your username"/><br />

			<label class="form-separator" for="form-password">Password</label>
			<input type="password" name="password" id="form-password" placeholder="Enter your password"/><br />

			<input class="form-button-submit" type="submit" value="Login" />
		</form>
	</section>
