<body>
	<header>
		<span>Kronos - Dashboard</span>
	</header>

	{errorbox}
		<section class="error-section">
				<p class="error-section-text">{errormsg}</p>
		</section>
	{/errorbox}

	<section class="section-large">
		{if="Chronos::getChronosCount() == 0"}
		

		{else}


		{/if}
	</section>
