{include="html-header"}
<body>
	<header>
		<span>Kronos setup</span>
	</header>

	<section class="section-medium">
		{errorbox}
			<p class="errorbox-integrated">{errormsg}</p>
		{/errorbox}
		<p class="section-title">Before using Kronos, you need to create a user</p>
		<form class="centered" action="index.php?setup" method="POST">
			<label class="form-separator" for="form-username">Username</label>
			<input type="text" name="username" id="form-username" placeholder="Enter your username"/><br />

			<label class="form-separator" for="form-password">Password</label>
			<input type="password" name="password" id="form-password" placeholder="Enter your password"/>

			<label class="form-separator" for="form-password-confirmation">Password confirmation</label>
			<input type="password" name="password-confirmation" id="form-password-confirmation" placeholder="Confirm your password"/><br />

			<input class="form-button-submit" type="submit" value="Create user" />
		</form>
	</section>
