body, html {

	margin: 0px;
	height: 100%;
	width: 100%;
	
	font-family: Roboto;
	background-color: #EEEEEE;
	color: #5D5D5D;

}

header {

	width: 100%;
	min-height: 60px;
	margin-bottom: 2px;

	box-shadow: 0px 2px 5px rgba(0,0,0,0.26);
	background-color: #d64937;
	color: #565656;
	
}

header > span {

	line-height: 55px;
	font-size: 30px;
	padding-left: 30px;
	font-weight: bold;

}

section.section-medium {

	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	min-height: 120px;
	padding: 10px;

	background-color: white;
	box-shadow: 0px 1px 2px rgba(0,0,0, 0.25);

}

section .section-title {

	text-align: center;
	font-size: 1.3em;

}

label.form-separator {

	margin-top: 15px;
	display: block;

}

.form-button-submit {

	border: 0;
	margin-top: 20px;
	width: 40%;
	height: 30px;

	color: white;
	background-color: #F0544C;
	box-shadow: 0px 1px 2px rgba(0,0,0, 0.25);

}

.form-button-submit:hover {

	background-color: #F58C86;
	border: 1px solid #F0544C;

}

input[type=text]:focus, input[type=password]:focus {

	border-bottom: 2px solid grey;
	transition: border-bottom 0.1s;

}

input[type=text], input[type=password] {

	width: 30%;
	min-width: 120px;
	border: 0;
	border-bottom: 1px solid grey;

}

.errorbox-integrated {

	background-color: #EF6C00;
	color: white;
	font-weight: bold;
	border: 1px solid #BF5600;
	text-align: center;
	padding: 3px;

}

.centered {

	text-align: center;

}
/*---------------*/
/*|    Setup    |*/
/*---------------*/
